html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
    padding: 0;
}

.conway-box {
    display: inline-block;
    margin: 0;
}